<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to image_tag("ExpansionBanner/ARRbanner.png", border: 0), raids_path(:expansion=>"A Realm Reborn"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("ExpansionBanner/HWbanner.jpg", border: 0), raids_path(:expansion=>"Heavensward"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("ExpansionBanner/STbanner.png", border: 0), raids_path(:expansion=>"Stormblood"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("ExpansionBanner/SHBbanner.png", border: 0), raids_path(:expansion=>"Shadowbringers"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("ExpansionBanner/EWbanner.png", border: 0), raids_path(:expansion=>"Endwalker"), class: "tab-underlined" %>
  </li>
</ul>
