<div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
    <div class="cards-index">
      <% @raids.where(expansion: "A Realm Reborn", difficulty: "sadique").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
      <% @raids.where(expansion: "Heavensward", difficulty: "sadique").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
      <% @raids.where(expansion: "Stormblood", difficulty: "sadique").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
      <% @raids.where(expansion: "Shadowbringers", difficulty: "sadique").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
      <% @raids.where(expansion: "Endwalker", difficulty: "sadique").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
      <% @raids.where(difficulty: "extreme").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
      <% @raids.where(difficulty: "fatal").each do |raid| %>
        <div class="card-raid-center">
          <h6><%= raid.name %></h6>
          <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
        </div>
      <% end %>
    </div>
    <br>
    <div class="text-center" style="margin-bottom: 1em">
      <%= link_to 'Voir tous les raids', raids_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
