<div class="form-guide">
  <h2><%= @raid.name %></h2>
  <p><%= "Lvl #{@raid.level} / #{@raid.expansion} / #{@raid.difficulty}" %></p>


  <ul class="list-group">
    <% @raid.guides.each do |guide| %>
      <li class="list-group-item"><%= guide.content %>
      </li>
    <% end %>
  </ul>

  <br>
  | <%= link_to 'Retour', raids_path %> |

</div>

<div class="cards-index">
  <% Raid.where(expansion: @raid.expansion).each do |raid| %>
    <%= link_to cl_image_tag(raid.image.key), raid_path(raid), class: "card-raid"%>
  <% end %>
</div>
