<div class="form-guide">
  <h2><%= @raid.name %></h2>
  <p><%= "Lvl #{@raid.level} / #{@raid.expansion} / #{@raid.difficulty}" %></p>


  <div>
    <% @raid.guides.each do |guide| %>
      <p><%= guide.title %></p>
      <p><%= guide.strategy %></p>
      <p><%= guide.timeline %></p>
      <p><%= guide.spells %></p>
      <p><%= guide.advice %></p>
    <% end %>
  </div>

  <br>
  | <%= link_to 'Retour', raids_path %> |

</div>

<p class="text-center">D'autres raids qui pourraient vous intéresser :</p>

<div class="cards-index">
  <% Raid.where(expansion: @raid.expansion).each do |raid| %>
    <div>
      <%= raid.name %>
      <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
    </div>
  <% end %>
</div>
