<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to image_tag("icons/Tank_Icon.png", border: 0), jobs_path(:role=>"tank"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("icons/Healer_Icon.png", border: 0), jobs_path(:role=>"healer"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("icons/Melee_DPS.png", border: 0), jobs_path(:role=>"melee"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("icons/Physical_Ranged_DPS.png", border: 0), jobs_path(:role=>"distance"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("icons/Magic_Ranged_DPS.png", border: 0), jobs_path(:role=>"caster"), class: "tab-underlined" %>
  </li>
</ul>
