<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to image_tag("Tank_Icon.png", border: 0), tanks_jobs_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Healer_Icon.png", border: 0), healers_jobs_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Melee_DPS.png", border: 0), melees_jobs_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Physical_Ranged_DPS.png", border: 0), ranges_jobs_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Magic_Ranged_DPS.png", border: 0), casters_jobs_path, class: "tab-underlined" %>
  </li>
</ul>
