<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to image_tag("Tank_Icon.png", border: 0), jobs_path(:role=>"tank"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Healer_Icon.png", border: 0), jobs_path(:role=>"healer"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Melee_DPS.png", border: 0), jobs_path(:role=>"melee"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Physical_Ranged_DPS.png", border: 0), jobs_path(:role=>"distance"), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to image_tag("Magic_Ranged_DPS.png", border: 0), jobs_path(:role=>"caster"), class: "tab-underlined" %>
  </li>
</ul>
