<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Paladin"), class: "card-job pld" %>

  <%= link_to " ", jobs_path(:name=>"Guerrier"), class: "card-job war" %>

  <%= link_to " ", jobs_path(:name=>"Chevalier Noir"), class: "card-job drk" %>

  <%= link_to " ", jobs_path(:name=>"Pistosabreur"), class: "card-job gnb" %>

  <%= link_to " ", jobs_path(:name=>"Mage Blanc"), class: "card-job whm" %>

  <%= link_to " ", jobs_path(:name=>"Erudit"), class: "card-job sch" %>

  <%= link_to " ", jobs_path(:name=>"Astromancien"), class: "card-job ast" %>

  <%= link_to " ", jobs_path(:name=>"Sage"), class: "card-job sge" %>

  <%= link_to " ", jobs_path(:name=>"Moine"), class: "card-job mnk" %>

  <%= link_to " ", jobs_path(:name=>"Chevalier Dragon"), class: "card-job drg" %>

  <%= link_to " ", jobs_path(:name=>"Ninja"), class: "card-job nin" %>

  <%= link_to " ", jobs_path(:name=>"Samouraï"), class: "card-job sam" %>

  <%= link_to " ", jobs_path(:name=>"Faucheur"), class: "card-job rpr" %>

  <%= link_to " ", jobs_path(:name=>"Barde"), class: "card-job brd" %>

  <%= link_to " ", jobs_path(:name=>"Machiniste"), class: "card-job mch" %>

  <%= link_to " ", jobs_path(:name=>"Danseur"), class: "card-job dnc" %>

  <%= link_to " ", jobs_path(:name=>"Mage Noir"), class: "card-job blm" %>

  <%= link_to " ", jobs_path(:name=>"Mage Rouge"), class: "card-job rdm" %>

  <%= link_to " ", jobs_path(:name=>"Invocateur"), class: "card-job smn" %>
</div>
