<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Moine"), class: "card-raid mnk" %>

  <%= link_to " ", jobs_path(:name=>"Chevalier Dragon"), class: "card-raid drg" %>

  <%= link_to " ", jobs_path(:name=>"Ninja"), class: "card-raid nin" %>

  <%= link_to " ", jobs_path(:name=>"Samouraï"), class: "card-raid sam" %>

  <%= link_to " ", jobs_path(:name=>"Faucheur"), class: "card-raid rpr" %>
</div>
