<div class="card-job">
  <%= image_tag @job.image %>
  <%= @job.name %>
  <%= @job.role %>
  <%= @job.acronym %>

</div>

<div>
    <% @job.job_guides.each do |job_guide| %>
      <p><%= job_guide.title %></p>
      <p><%= job_guide.content %></p>
      <p><%= job_guide.rotation %></p>
      <%= image_tag(job_guide.opener) %>
    <% end %>

    <br>
  | <%= link_to 'Retour', jobs_path %> |

</div>
