<div class="navbar navbar-expand-sm navbar-zundu fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "OkZunduIcon.jpg" %>
    <% end %>

    <% if current_page?(raids_path) %>
      <div class="search-form" id="form-raid">
        <%= form_tag raids_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
          placeholder: "ex. Bahamut"
          %>
          <button class="btn btn-turquoise">
            <i class="fas fa-search"></i>
          </button>
        <% end %>
      </div>
    <% elsif current_page?(jobs_path) %>
      <div class="search-form" id="form-job">
        <%= form_tag jobs_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
          placeholder: "ex. Paladin"
          %>
          <button class="btn btn-turquoise">
            <i class="fas fa-search"></i>
          </button>
        <% end %>
      </div>
    <% end %>

  <div class="zundu-link-layout">
    <ul class="navbar-nav me-auto zundu-link-layout" id="nav-ul">
      <% unless current_page?(jobs_path) %>
        <li class="nav-item active">
          <%= link_to "Jobs", jobs_path, class: "nav-zundu-link" %>
        </li>
      <% end %>
      <% unless current_page?(raids_path) %>
        <li class="nav-item active">
          <%= link_to "Raids", raids_path, class: "nav-zundu-link" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
