<div class="text-center m-4">
  <h3> Des guides pour vos raids </h3>
</div>

<div class="cards-homepage" id="cards-homepage-raid">

  <%= link_to " ", raids_path(:difficulty=>"extreme"), class: "card-homepage extreme container-homepage" %>

  <%= link_to " ", raids_path(:difficulty=>"sadique"), class: "card-homepage sadique container-homepage" %>

  <%= link_to " ", raids_path(:difficulty=>"fatal"), class: "card-homepage fatal container-homepage" %>

</div>

<div class="text-center m-4">
  <h3> Des guides pour vos jobs </h3>
</div>

<div class="cards-homepage">

  <%= link_to " ", jobs_path(:role=>"tank"), class: "card-homepage tank container-homepage" %>

  <%= link_to " ", jobs_path(:role=>"healer"), class: "card-homepage healer container-homepage" %>

  <%= link_to " ", jobs_path(:role=>"melee"), class: "card-homepage melee container-homepage" %>

  <%= link_to " ", jobs_path(:role=>"distance"), class: "card-homepage ranged container-homepage" %>

  <%= link_to " ", jobs_path(:role=>"caster"), class: "card-homepage caster container-homepage" %>

  <%= link_to " ", jobs_path, class: "card-homepage blue-mage container-homepage" %>

</div>

<div class="container-fluid text-center" style="margin-top: 2em display: inline" data-controller="typed-js">
  <h5>Et surtout.. <span data-typed-js-target="content" class="stop-flicking-around"></h5>
</div>
