<div class="text-center m-4">
  <h3> Des guides pour vos prochains raids </h3>
</div>

<div class="cards">

  <%= link_to " ", raids_path(:difficulty=>"extreme"), class: "card-raid extreme" %>

  <%= link_to " ", raids_path(:difficulty=>"sadique"), class: "card-raid sadique" %>

  <%= link_to " ", raids_path(:difficulty=>"fatal"), class: "card-raid fatal" %>

</div>

<div class="text-center m-4">
  <h3> Des guides pour vos jobs </h3>
</div>

<div class="cards">

  <%= link_to " ", tanks_jobs_path, class: "card-raid tank" %>

  <%= link_to " ", healers_jobs_path, class: "card-raid healer" %>

  <%= link_to " ", melees_jobs_path, class: "card-raid melee" %>

  <%= link_to " ", ranges_jobs_path, class: "card-raid ranged " %>

  <%= link_to " ", casters_jobs_path, class: "card-raid caster" %>

  <%= link_to " ", jobs_path, class: "card-raid blue-mage" %>

</div>

<div class="container-fluid text-center" style="margin-top: 2em">
  <h5><span data-controller="typed-js"></h5>
</div>
